.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.wrapper {
    width: 350px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.github {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

